<div id="rails-exam">
  <div class="container">
    <h1>回答方法</h1>
    <ol>
      <li>forkしたリポジトリ上でブランチを切って、PRを送る形式で回答してください</li>
      <li>各設問ごとにcommitを打ってください 例) git commit -m "CSS試験 Q1" </li>
      <li>CSS問題についてはgyazoなどでキャプチャを作成し、githubのコミットのコメント欄に貼ってください</li>
    </ol>

    <div class="index">
      <h1>CSS</h1>
      <h2><%= link_to "CSS試験", css_exam_path %></h2>
      <h1>Ruby on Rails</h1>
      <h2><%= link_to "エラー解決問題", errors_rails_exam_index_path %></h2>
      <h3>このリンクを開いて表示される全てのエラーを解決してください</h3>
      <h2><%= link_to "バックエンド問題①", backend_rails_exam_index_path %></h2>
      <h3>エラー解決問題を途中まで解かないとこのページは開けません</h3>
      <h2><%= link_to "バックエンド問題②", backend02_rails_exam_index_path %></h2>
    </div>
  </div>
</div>