<div id="rails-exam">
  <div class="container">
    <div class="index">
      <h1>CSS</h1>
      <h2><%= link_to "CSS試験", css_exam_path %></h2>
      <h1>Ruby on Rails</h1>
      <h2><%= link_to "エラー解決問題", errors_rails_exam_index_path %></h2>
      <h3>このリンクを開いて表示される全てのエラーを解決してください</h3>
      <h2><%= link_to "バックエンド問題①", backend_rails_exam_index_path %></h2>
      <h3>エラー解決問題を途中まで解かないとこのページは開けません</h3>
      <h2><%= link_to "バックエンド問題②", backend02_rails_exam_index_path %></h2>
    </div>
  </div>
</div>