<tr>
  <td><%= full_name(author.family_name, author.first_name) %></td>
  <td><%= author.books.count %></td>
  <td><%= author.fetch_a_book_by_price(:max).title %></td>
  <td><%= author.fetch_a_book_by_price(:max).price %></td>
</tr>