<div id="rails-exam">
  <div class="container">
    <div class="center-align">
      <%= image_tag "iki" %>
    </div>

    <div class="list">
      <table>
        <thead>
          <tr>
              <th>姓</th>
              <th>名</th>
              <th>書籍数</th>
              <th>第一作</th>
              <th>価格</th>
          </tr>
        </thead>

        <tbody>
          <% @authors.each do |author| %>
            <%= render partial: 'author', locals: { author: author } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>