<div id="rails-exam">
  <div class="container">
    <div class="index">
      <h2><%= link_to "エラー解決問題", "#" %></h2>
      <h2><%= link_to "バックエンド問題", backend_rails_exam_index_path %></h2>
      <h2><%= link_to "記述問題", "#" %></h2>
    </div>
  </div>
</div>