<div id="css-exam">
  <div class="container">

    <div class="question question-01">
      <h1 class="question-header">Q1. 以下の青い四角形を枠線に対して上下左右中央寄せしてください</h1>

      <div class="blue-rect-wrapper">
        <div class="rect blue darken-2"></div>
      </div>
    </div>

    <div class="question question-02">
      <h1 class="question-header">Q2. 以下の青い四角形を6つを横一列に並べてください</h1>

      <div class="rect blue darken-2"></div>
      <div class="rect blue darken-2"></div>
      <div class="rect blue darken-2"></div>
      <div class="rect blue darken-2"></div>
      <div class="rect blue darken-2"></div>
      <div class="rect blue darken-2"></div>
    </div>

    <div class="question question-03">
      <h1 class="question-header">Q3. 以下の文言を、青いブロックに対して上下中央に配置してください</h1>

      <div class="rect blue darken-2">
        <p>グスコーブドリは、イーハトーヴの大きな森のなかに生まれました。</p>
      </div>
    </div>

  </div>

</div>
