<nav>
  <div class="nav-wrapper light-blue darken-3">
    <a href="#" class="brand-logo">Mentors Exam</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "CSS試験", css_exam_path %></li>
      <li><%= link_to "Rails試験", rails_exam_index_path %></li>
      <li><%= link_to "JavaScript試験", css_exam_path %></li>
    </ul>
  </div>
</nav>